{% extends "index.html" %}
{% block body %}
    <label for="lat">Lat:</label>
    <input id="lat" name="lat"/>
    <label for="long">Long:</label>
    <input id="long" name="long"/>
    <br/>
    <br/>
    <div id="map"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
      var map;
      var marker;

      function initialize() {
        var myLatlng = new google.maps.LatLng(40.713956, -74.006653);

        var myOptions = {
          zoom: 4,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);

        marker = new google.maps.Marker({
          draggable: true,
          position: myLatlng,
          map: map,
          title: "Your location"
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
          document.getElementById("lat").value = event.latLng.lat();
          document.getElementById("long").value = event.latLng.lng();
        });

        google.maps.event.addListener(map, 'click', function (event) {


          document.getElementById("lat").value = event.latLng.lat();
          document.getElementById("long").value = event.latLng.lng();
          marker.setPosition(event.latLng);
        });
      }
      google.maps.event.addDomListener(window, "load", initialize());

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initialize">
    </script>
{% endblock %}